# не обрабатывать файлы, имя которых заканчивается на .pyc
*.pyc
# игнорировать файл secret_info.txt находящийся в любом каталоге
secret_info.txt
# игнорировать все файлы в каталоге .idea
.idea/
# игнорировать все файлы в каталоге .logs
.logs/
